@import "../../assets/styles/abstracts/";

.our_services {
    margin-bottom: rem(120);

    &_card {
        border-radius: rem(10);
        height: rem(396);
        &_content {
            &_img {
                margin-bottom: rem(38);
                img {
                    width: rem(140);
                    height: rem(140);
                    object-fit: contain;
                }
            }
            &_title {
                margin-bottom: rem(17);
                span {
                    color: $primary;
                    font-weight: 600;
                    font-size: rem(24);
                    line-height: rem(32);
                }
            }
            &_desc{
                margin-bottom: 0;
                span{
                    font-size: rem(17);
                    line-height: rem(30);
                    color: $txt-light;
                }
            }
        }
    }
}